html
    head
        link(href='bower_components/semantic/dist/semantic.css', rel='stylesheet')
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='bower_components/semantic/dist/semantic.js')
    body
        .ui.labeled.button(tabindex='0')
            .ui.red.button
                i.heart.icon
                |  Like
            a.ui.basic.red.left.pointing.label
                | 1,048
        .ui.labeled.button(tabindex='0')
            .ui.basic.blue.button
                i.fork.icon
                |  Forks
            a.ui.basic.left.pointing.blue.label
                | 1,048
